[Desktop Entry]
Type=Application
Name=Install Flatpaks
Exec=/usr/share/ublue-os-spinosauros/scripts/flatpaks/installFlatpaks.sh
OnlyShowIn=GNOME;
NoDisplay=true
X-GNOME-Autostart-enabled=true
