[Desktop Entry]
Type=Application
Name=Remove Flatpaks
Exec=/usr/share/ublue-os-spinosauros/scripts/flatpaks/removeFlatpaks.sh
OnlyShowIn=GNOME;
NoDisplay=true
X-GNOME-Autostart-enabled=true
